body{
    font-size: 15px;
    color:#000080;
}
main{
    width: 98%;
    margin: 0 auto; /* Center the main content horizontally */
    text-align: left; /* Align the text content to the left */
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    margin-bottom: 0;
}
.card{
    background-color: #f0f0f0;
    border: 1px #FF8C00 solid;
    border-radius: 10px;
    margin: 5px;
}
h2{
    margin-top: 0px;
    padding-top: 0px;
    background-color: #FF8C00;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#card1{
    grid-column: 1 / 3;
}
nav{
    display: flex; /* Set container to use flexbox */
    justify-content: space-between; /* Align items with space between them */
    align-items: center; /* Center items vertically */
    height: 30px; /* Just for demonstration */
    background-color: #F5F5DC;
    padding: 20px;
}
a{
    text-decoration: none;
    color: #FF8C00;
}
header, footer{
    background-color: #FF8C00;
    
}
footer{
    height: 50px;
}
footer p{
    text-align: center;
    color: #f0f0f0;
    margin: 0;
}
header h1{
    color: #f0f0f0;
    padding: 15px;
    text-align: center;
}
section h2{ 
    color:#000080;;
}
.container2 {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Align items vertically */
}

.container2 img {
    width: 200px; /* Adjust the width of the image as needed */
    height: 200px; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some spacing between image and text */
}

.container2 .text {
    font-size: 30px; /* Adjust font size as needed */
}
hr{
    width: 90%;
}